//
// Typography
// --------------------------------------------------

// Variables
// --------------------------------------------------

$text-color: $gray-base !default;
$link-color: $brand-primary !default;
$link-hover-color: $brand-primary !default;

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size-base: 1.5rem !default; // 24pt

// baseline-grid
$line-height-small-minus: 0.5 !default; // 12px
$line-height-small: 1 !default; // 24px
$line-height-base: 1.5 !default; // 36px
$line-height-large: 2 !default; // 48px
$line-height-large-plus: 3 !default; // 72px

$line-height-small-minus-computed: floor(($font-size-base * $line-height-small-minus)) !default; // 12px
$line-height-small-computed: floor(($font-size-base * $line-height-small)) !default; // 24px
$line-height-base-computed: floor(($font-size-base * $line-height-base)) !default; // 36px
$line-height-large-computed: floor(($font-size-base * $line-height-large)) !default; // 48px
$line-height-large-plus-computed: floor(($font-size-base * $line-height-large-plus)) !default; // 72px


$font-size-h1: ($font-size-base * 2.5) !default; // 40px
$font-size-h2: ($font-size-base * 2) !default; // 32px
$font-size-h3: ($font-size-base * 1.5) !default; // 24px
$font-size-h4: ($font-size-base * 1.25) !default; // 20px
$font-size-h5: $font-size-base !default;  //16px
$font-size-h6: ($font-size-base * 0.875) !default; // ~12px

$headings-font-family: 'aileronsregular', Helvetica Neue, Helvetica, Arial, sans-serif !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1 !default;
$headings-color: $brand-primary !default;


// Headings
// -------------------------

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  text-transform: uppercase;
  margin-top: $line-height-base-computed;
  margin-bottom: ($line-height-base-computed / 2);
  word-break: break-all;
  margin-left: -0.1em;
}

h1, .h1 { font-size: $font-size-h2; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }

// h4, h5, h6 wie body

h4, .h4, h5, .h5 {
  font-size: $font-size-base;
  color: $text-color;
  font-weight: 600;
  margin: 0 0 $line-height-small-computed;
}

// Body text
// -------------------------

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
}

p {
  margin: 0 0 ($line-height-base-computed / 2);
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

// Selection
// -------------------------

::selection {
  color: $white;
  background: $brand-primary;
}
::-moz-selection {
  color: $white;
  background: $brand-primary;
}

// Links
// -------------------------

@mixin tab-focus() {
  // Default
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
  }

  &:focus {
    @include tab-focus();
  }
}


// Reset fonts for relevant elements
// -------------------------

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: ($line-height-base-computed / 2);
  ul,
  ol {
    margin-bottom: 0;
  }
}

// List options

// [converter] extracted from `.list-unstyled` for libsass compatibility
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}
// [converter] extracted as `@mixin list-unstyled` for libsass compatibility
.list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}


// Text overflow helper
// -------------------------

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
