//
// position
// -------------------------

// Center-align a block level element
// -------------------------

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-block {
  @include center-block;
}

// Floats

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}
