@charset 'UTF-8';

.image-gallery{
  margin-bottom: $space-large-plus-vertical;
  position: relative;
}

.slick-initialized .controll-mouse-left {
  cursor: url(..\img\slider\arrow-left.png), auto;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  z-index: 1000;
}
.slick-initialized .controll-mouse-right {
  cursor: url(..\img\slider\arrow-right.png), auto;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  z-index: 1000;
}

.slider-nav  {
  margin: $space-small-vertical 0;
  cursor: grab;

  @media (max-width: $screen-xs-max) {
    display: none !important;
  }


  .picture {
    margin: 0 10px;
    position: relative;
  }

  .slick-current {
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(211, 168, 124, 0.8);
    }
  }
}

// loader
//.slick-loading, .slick-loading:before, .slick-loading:after
%extend_loader_1 {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: load_ani 1.8s infinite ease-in-out;
}

//.slick-loading:before, .slick-loading:after
%extend_loader_2 {
  content: '';
  position: absolute;
  top: 0;
}

@keyframes load_ani {
  0% { @include box-shadow(0 2.5em 0 -1.3em); }
  40% { @include box-shadow(0 2.5em 0 0); }
  80% { @include box-shadow(0 2.5em 0 -1.3em); }
  100% { @include box-shadow(0 2.5em 0 -1.3em); }
}

.slick-loading {
  @extend %extend_loader_1;
  color: $brand-primary;
  font-size: 10px;
  margin:  10em auto;
  position: relative;
  transform: translateZ(0);
  animation-delay: -0.16s;

  &:before {
    @extend %extend_loader_1;
    @extend %extend_loader_2;
    left: -3.5em;
    animation-delay: -0.32s;
  }

  &:after {
    @extend %extend_loader_1;
    @extend %extend_loader_2;
    left: 3.5em;
  }
}

// buttons
%extend_reset_button {
  padding: 0;
  color: $brand-primary;
  outline: none;
  border: none;
  background: transparent;
}

.slick-prev {
  @extend %extend_reset_button;

  &:before {
    color: inherit;
    content: "\2190\a0";
  }

  &:focus {
    @extend %extend_reset_button;
  }

  &:hover {
    @extend %extend_reset_button;
    text-decoration: underline;
  }
}

.slick-next {
  @extend %extend_reset_button;

  &:after {
    color: inherit;
    content: "\a0\2192";
  }

  &:focus {
    @extend %extend_reset_button;
  }

  &:hover {
    @extend %extend_reset_button;
    text-decoration: underline;
  }
}

.controlls {
  button, button.pull-right {
    @media (max-width: $screen-xs-max) {
      @include center-block;
    }
  }

  p {
    margin-bottom: 0;
  }
}
